@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Poppins:wght@400;500;600;700&family=Quicksand&family=Sacramento&display=swap');

body{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4CAF50; /* Green background color */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-height: 50px; /* Set the maximum height of your logo */
}

.nav-buttons {
    display: flex;
}

.nav-button {
    color: #fff; /* Text color for the buttons */
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #333; /* Background color for the buttons */
}

.nav-button:hover {
    background-color: #555; /* Background color on hover */
}
.main{
    display:flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: ; */
    height: 100vh;
    /* background: url('/mkulima/static/images/farming.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}
.main-left{
    width: 67%;
}
.main-right{
padding: 20px;
text-align: center;
background: hsla(144, 73%, 42%, 1);

background: linear-gradient(315deg, hsla(144, 73%, 42%, 1) 0%, hsla(167, 57%, 56%, 1) 100%);

background: -moz-linear-gradient(315deg, hsla(144, 73%, 42%, 1) 0%, hsla(167, 57%, 56%, 1) 100%);

background: -webkit-linear-gradient(315deg, hsla(144, 73%, 42%, 1) 0%, hsla(167, 57%, 56%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1DBB5C", endColorstr="#4ECFB3", GradientType=1 );

}
.left-image{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.headings{
    text-align: center;
}
.small-heading,.big-heading{
    color:#4CAF50;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    place-items: center;
}
.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card-text {
    padding: 15px;
}

.card-text h2 {
    margin-bottom: 10px;
}

.card-text p {
    color: #555;
}
.third-section{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-items: center; */
    height: 100vh;
}
.item-one{
  
    background-color: #f0f0f0;
    padding: 150px 50px;
    border: 1px solid #ccc;
    text-align: center;
    width: 50%;

}
.item-one h1{
    color: white;
    background-color: #4CAF50;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px;

}
.item-two{
    width: 600px;
}
.item-two-image{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1em;
    color: #181414;
    margin-bottom: 20px;
}

.footer-section img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #777;
}

.footer-bottom p {
    font-size: 0.8em;
    color: #888;
}